//colors
$blue-light:#85d0f3;
$blue-md:#229fda;
$blue-dark:#0a519f;
$blue-highlight:#d2f3f3;

$grey-light: grey;
$grey-md:#878a8d;
$grey-dark:#394a5e;
$grey-background:#1d2a36;
$grey-search:#f3f2f2;
$grey-border:#e4e4e4;

$green: #2eb56a;

$pink: #fb2b95;

//social media colors
$color-email:#afeeee;
$color-fb:#b0e0e6;
$color-twitter:#0000ff;
$color-linkedIn:#000;
$color-otro: #808080;

//font sizes
$font-xsm:11px;
$font-sm:13px;
$font-md:16px;
$font-lg:18px;
$font-xlg:22px;

//padding
$padding-default: 0 40px;

//margin
//margin:20px 0;

//button-radius
//50px

//border-color